.new-line {
  white-space: pre-line;
}

h5 {
  white-space: pre-wrap;
}

body {
  white-space: pre-wrap;
}

.leaflet-container {
  height: 400px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.main-modal {
  position: fixed;
  background: white;
  width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  padding: 10px;
  transform: translate(-50%, -50%);
}
.display-block {
  display: block;
}
.display-none {
  display: none;
}
